PORT=9000

MONGO_URI=your_mongodb_uri
JWT_SECRET=your_jwt_secret

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

RAZORPAY_SECRET_ID=your_razorpay_key_id
RAZORPAY_SECRET_KEY=your_razorpay_key_secret

EMAIL_USER=your_email
EMAIL_PASS=your_email_app_password

SELLER_EMAIL=your_seller_email
SELLER_PASS=your_seller_password

REMOVEBG_API_KEY=your_removebg_api_key

DEFAULT_LOGO_URL=your_logo_url